{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}
{% block body %}
<div class="container px-0">
        <img src="https://sun9-48.userapi.com/impg/CYSWO29ZOTRGLRvvy3MjJNE60u-jTqEWa5houw/xpbkoBpQ4tE.jpg?size=1280x240&quality=96&sign=4b785b1780c1e4a35f3f0ee235f20349&c_uniq_tag=6ui0YMwQDzcTs5Hw8-EClWvj_lB1Pqyewimx1byM3Kw&type=album" class="img-fluid border rounded-0 shadow-lg mb-0" alt="Пример изображения" width="1630" height="600" loading="lazy">
      </div>
<div class="px-2 py-2 my-2 text-center">
    <img class="d-block mx-auto mb-3" src="https://sun9-10.userapi.com/impg/jvJUbiLtEM_lNP3f-8bbweEuMs7_8dSQvM8yTw/SU4gszVmIpY.jpg?size=176x176&quality=96&sign=8a71b4a3b4a7af4969577fb8009f74de&c_uniq_tag=4ZSw6KnUyxEcUQBQySjQjkVi1eICBjQondN6niZUMlo&type=album" alt="" width="170" height="170">
    <h1 class="display-5 fw-bold text-body-emphasis"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Centered hero" data-translation="Герой по центру" data-ch="0" data-type="trSpan">Дадановец</ya-tr-span></h1>
  </div>

<div class="container px-0.5 py-0.5" id="hanging-icons">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
          <h3 class="fs-2">Подборка видео</h3>
          <p>Подборка видео с YouTube канала "Дадановец". Смотри не выходя из нашего сайта</p>
          <a href="/arhiv" class="btn btn-primary"><ya-tr-span data-index="10-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Primary button " data-translation=" Основная кнопка " data-ch="0" data-type="trSpan">Смотреть</ya-tr-span></a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <h3 class="fs-2">Написать Дадановцу</h3>
          <p>Напишите ему соощение/вопрос и он ответит вам</p>
          <a href="https://t.me/dadonrog" class="btn btn-primary"><ya-tr-span data-index="11-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Primary button " data-translation=" Основная кнопка " data-ch="1" data-type="trSpan">Написать</ya-tr-span></a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h3 class="fs-2">Дадановец в Telegram</h3>
          <p>Подписывайся на официальную группу DADONROG в телеграмм. Следи за свежими новостями, постами и тд. Ждем тебя и твоих друзей в нашем отряде!</p>
          <a href="https://t.me/dadonrog" class="btn btn-primary"><ya-tr-span data-index="12-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Primary button " data-translation=" Основная кнопка " data-ch="1" data-type="trSpan">Telegram</ya-tr-span></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}