{% extends 'base.html' %}

{% block title %}
Дадановец
{% endblock %}
{% block body %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://sun9-10.userapi.com/impg/jvJUbiLtEM_lNP3f-8bbweEuMs7_8dSQvM8yTw/SU4gszVmIpY.jpg?size=176x176&quality=96&sign=8a71b4a3b4a7af4969577fb8009f74de&c_uniq_tag=4ZSw6KnUyxEcUQBQySjQjkVi1eICBjQondN6niZUMlo&type=album" alt="" width="100" height="100">
    <h1 class="display-5 fw-bold text-body-emphasis"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Centered hero" data-translation="Герой по центру" data-ch="0" data-type="trSpan">Дадановец</ya-tr-span></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins." data-translation="Быстро создавайте и настраивайте адаптивные сайты для мобильных устройств с помощью Bootstrap, самого популярного в мире интерфейсного инструментария с открытым исходным кодом, включающего переменные Sass и mixins, адаптивную сеточную систему, обширные готовые компоненты и мощные плагины JavaScript." data-ch="0" data-type="trSpan">Ниже представлены видео-ролики с YouTube-канала "Дадановец". Вы можете просматривать их на нашем сайте, но убедительная просьба подписаться на канал по кнопкe ниже.</ya-tr-span></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="https://www.youtube.com/@dadanovec/featured" type="button" class="btn btn-primary btn-lg px-4 gap-3"><ya-tr-span data-index="7-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Primary button" data-translation="Основная кнопка" data-ch="0" data-type="trSpan">Подписаться</ya-tr-span></a>
        <a href="https://www.youtube.com/@dadanovec/videos" type="button" class="btn btn-outline-secondary btn-lg px-4"><ya-tr-span data-index="7-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary" data-translation="Вторичный" data-ch="0" data-type="trSpan">Смотреть на YouTube</ya-tr-span></a>
      </div>
    </div>
  </div>

<footer class="container pt-3 mt-4 text-body-secondary border-top"></footer>
<div class="container">
  <div class="video">
    <iframe src="https://www.youtube.com/embed/nwADbHxRCIw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    <footer class="container pt-3 mt-4 text-body-secondary border-top"></footer>
    <div class="video">
        <iframe  src="https://www.youtube.com/embed/8eghaIHRZF0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     </div>
    <footer class="container pt-3 mt-4 text-body-secondary border-top"></footer>
    <div class="video">
    <iframe src="https://www.youtube.com/embed/nV3nw-BdSCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     </div>
    <footer class="container pt-3 mt-4 text-body-secondary border-top"></footer>
    <div class="video">
    <iframe src="https://www.youtube.com/embed/ienNWU12b9I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     </div>
    <footer class="container pt-3 mt-4 text-body-secondary border-top"></footer>
    <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CLwfywKRz4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0IoEYvSfgyM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <footer class="container pt-3 mt-4 text-body-secondary border-top"></footer>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_xf8qOWatX8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <footer class="container pt-3 mt-4 text-body-secondary border-top"></footer>
    <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/J9an_pGDXZE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <footer class="container pt-3 mt-4 text-body-secondary border-top"></footer>
    <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4QDW0fl4DH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <footer class="container pt-3 mt-4 text-body-secondary border-top"></footer>
    <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WPoiDhyq3VM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    1<div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yu0sbsT65TU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <footer class="container pt-3 mt-4 text-body-secondary border-top"></footer>
    <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rPLRPa8Zs4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <footer class="container pt-3 mt-4 text-body-secondary border-top"></footer>
    <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fggo9dEceDI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
    <footer class="container pt-3 mt-4 text-body-secondary border-top"></footer>
    <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xyCT_QKUFvQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>



    <footer class="pt-3 mt-4 text-body-secondary border-top">
        © 2023 Официальный сайт Рыгоносца и Дадановца
    </footer>
  </div>
{% endblock %}