{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="p-2 mb-2 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"><ya-tr-span data-index="2-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Custom jumbotron" data-translation="Пользовательский jumbotron" data-ch="0" data-type="trSpan">DADONROG.RU</ya-tr-span></h1>
        <p class="col-md-8 fs-4"><ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. " data-translation="Используя ряд утилит, вы можете создать этот jumbotron, точно такой же, как в предыдущих версиях Bootstrap. " data-ch="0" data-type="trSpan" data-selected="false">Официальный сайт Дадановца и Рыгоносца </ya-tr-span><ya-tr-span data-index="6-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Check out the examples below for how you can remix and restyle it to your liking." data-translation="Ознакомьтесь с примерами ниже, чтобы узнать, как вы можете переделать его по своему вкусу." data-ch="0" data-type="trSpan"></ya-tr-span></p>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2><ya-tr-span data-index="8-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Change the background" data-translation="Измените фон" data-ch="0" data-type="trSpan">Вступить за Рыгоносца</ya-tr-span></h2>
          <p><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. " data-translation="Поменяйте местами утилиту для определения цвета фона и добавьте утилиту для определения цвета `.text-*`, чтобы изменить внешний вид jumbotron. " data-ch="0" data-type="trSpan">Вступай за рыгоносца и смотри его видео</ya-tr-span><ya-tr-span data-index="9-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Then, mix and match with additional component themes and more." data-translation="Затем комбинируйте темы дополнительных компонентов и многое другое." data-ch="0" data-type="trSpan"></ya-tr-span></p>
          <a href="/rog" class="btn btn-outline-light" type="button">Вперед!</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2><ya-tr-span data-index="10-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Add borders" data-translation="Добавить границы" data-ch="0" data-type="trSpan">Вступить за Дадановца</ya-tr-span></h2>
          <p><ya-tr-span data-index="11-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Or, keep it light and add a border for some added definition to the boundaries of your content. " data-translation="Или сделайте это проще и добавьте границу для некоторого дополнительного определения границ вашего контента. " data-ch="0" data-type="trSpan">Вступай за дадоновца и выйграй пожизненную путевку в дер. Дадановка! </ya-tr-span><ya-tr-span data-index="11-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height." data-translation="Не забудьте заглянуть под капот исходного HTML-кода, поскольку мы настроили выравнивание и размер содержимого обоих столбцов на одинаковую высоту." data-ch="0" data-type="trSpan"></ya-tr-span></p>
          <a href="/about" class="btn btn-outline-secondary" type="button">Хочу!</a>
        </div>
      </div>
    </div>

    <footer class="">
    </footer>
  </div>
    {% endblock %}