{% extends 'base.html' %}

{% block title %}
Рыгоносец - главная
{% endblock %}
{% block body %}
<div class="container px-0">
        <img src="https://sun9-78.userapi.com/impg/IuhNAZUYma2wqTZ_zCvRnluYdqTd1Ku8g9GUyg/2B6_aZY4idI.jpg?size=1280x240&quality=96&sign=1850ace7ff0f1bf1c6ee47221a50fe53&c_uniq_tag=156ITTqk1UQmxUeaDmGNQzbG681LQ1YdWP7VKL08hAk&type=album" class="img-fluid border rounded-0 shadow-lg mb-0" alt="Пример изображения" width="1630" height="600" loading="lazy">
      </div>
<div class="px-2 py-2 my-2 text-center">
    <img class="d-block mx-auto mb-3" src="https://sun9-29.userapi.com/impg/DetrSiSa-8eBpTax5lPbkFp8TneHJISqMkQDfw/w9gc-LgK9dA.jpg?size=176x176&quality=96&sign=42fa7edf26d0cdfee55bbde98d5ee8da&c_uniq_tag=qQ58RUfc8oqteN9kWMsaFL9f3Kxx1GfOFRBrjgWxJ6U&type=album" alt="" width="200" height="200">
    <h1 class="display-5 fw-bold text-body-emphasis"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Centered hero" data-translation="Герой по центру" data-ch="0" data-type="trSpan">Рыгоносец (Fritsky)</ya-tr-span></h1>
  </div>

<div class="container px-0.5 py-0.5" id="hanging-icons">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
          <h3 class="fs-2">Подборка видео</h3>
          <p>Подборка видео с YouTube канала "FRITSKY". Смотри не выходя из нашего сайта</p>
          <a href="/drevo" class="btn btn-primary"><ya-tr-span data-index="10-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Primary button " data-translation=" Основная кнопка " data-ch="0" data-type="trSpan">Смотреть</ya-tr-span></a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <h3 class="fs-2">Написать Рыгоносцу</h3>
          <p>Есть вопросы? Смело пиши нам в Telegram</p>
          <a href="https://t.me/dadonrog" class="btn btn-primary"><ya-tr-span data-index="11-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Primary button " data-translation=" Основная кнопка " data-ch="1" data-type="trSpan">Написать</ya-tr-span></a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h3 class="fs-2">Рыгоносец в Telegram</h3>
          <p>Подписывайся на официальную группу DADONROG в телеграмм. Следи за свежими новостями, постами и тд. Ждем тебя и твоих друзей в нашем отряде!</p>
          <a href="https://t.me/dadonrog" class="btn btn-primary"><ya-tr-span data-index="12-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Primary button " data-translation=" Основная кнопка " data-ch="1" data-type="trSpan">Telegram</ya-tr-span></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}